.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cccccc80;
  /*background-color: #00000080;*/
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #171717;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000001a;
}

.modal-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-error {
  color: red;
  margin-bottom: 10px;
}

.modal-confirm-button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.venue-hover-overlay {
  opacity: 0;
}

.venue-buttons {
  opacity: 0;
  pointer-events: none;
}

li:hover .venue-hover-overlay {
  opacity: 0.5;
}

li:hover .venue-buttons {
  opacity: 1;
  pointer-events: auto;
}