/* Profile bookings scrollbar */
.scrollbar-profile-bookings::-webkit-scrollbar {
  background: transparent;
  padding: 4px;
}

/* Track */
.scrollbar-profile-bookings::-webkit-scrollbar-track {
  background: transparent;
  padding: 4px;
}

/* Handle */
.scrollbar-profile-bookings::-webkit-scrollbar-thumb {
  background-color: #ADADAD;
  border-radius: 100px;
  border: 4px solid #171717e0;
  margin: 2px;
}

/* Handle on hover */
.scrollbar-profile-bookings::-webkit-scrollbar-thumb:hover {
  background-color: #989898;
}