.carousel_container {
  margin: 0 auto;
  width: 200px;
  height: 160px;
  position: relative;
  perspective: 1200px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.venue_items {
  display: block;
  position: absolute;
  background: #000;
  width: 200px;
  height: 120px;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.venue_details {
  width: 100%;
  padding: 4px;
  background-color: #ffffff;
  color: #000000;
  font-size: 0.8rem;
}

.venue_details p {
  margin: 2px 0;
}

.a {
  transform: rotateY(0deg) translateZ(200px);
  background: #ed1c24;
}
.b {
  transform: rotateY(60deg) translateZ(200px);
  background: #0072bc;
}
.c {
  transform: rotateY(120deg) translateZ(200px);
  background: #39b54a;
}
.d {
  transform: rotateY(180deg) translateZ(200px);
  background: #f26522;
}
.e {
  transform: rotateY(240deg) translateZ(200px);
  background: #630460;
} 
.f {
  transform: rotateY(300deg) translateZ(200px);
  background: #8c6239;
}

.next_venue, .prev_venue {
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  padding: 1em 1em;
  cursor: pointer;
  background: #171717;
  border-radius: 100%;
}
.next_venue:hover, .prev_venue:hover { color: #ffffff; }
.next_venue { right: 0; }
.prev_venue { left: 0; }

.triangle {
  position: absolute;
  bottom: -268px;
  left: -10.1%;
  transform: translate(-50%, -50%);
  border-left: 121px solid transparent;
  border-right: 121px solid transparent;
  border-top: 60px solid #fff;
  opacity: 1;
  animation: fadeInDown 0.5s forwards;
  pointer-events: none;
}

.triangle.hidden {
  animation: fadeOutUp 0.5s forwards;
}

.centered_venue_data {
  position: absolute;
  bottom: 20px; /* Adjust the vertical position as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* Adjust the width of the container */
  min-width: 80vw;
  padding: 20px;
  /*
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  */
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}