.carousel_container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.venue_items {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
  transition: opacity 0.5s ease, filter 0.5s ease;
}
/*
.venue_details {
  width: 100%;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 0.8rem;
}

.venue_details p {
  margin: 2px 0;
}
*/
.a {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
}
.b {
  transform: rotateY(60deg) translateZ(250px);
  background: #0072bc;
}
.c {
  transform: rotateY(120deg) translateZ(250px);
  background: #39b54a;
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  background: #f26522;
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  background: #630460;
} 
.f {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
}

.next_venue, .prev_venue {
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2em 1em;
  cursor: pointer;
  background: #171717;
  border-radius: 5px;
}
.next_venue:hover, .prev_venue:hover { color: #ffffff; }
.next_venue { right: 0; }
.prev_venue { left: 0; }